<!DOCTYPE html>

<html>
<head>
    <title>首页 - My blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">我的博客</a>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">首页</a></li>
                    <li><a href="/category">分类</a></li>
                    <li><a href="/topic">文章</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="page-header">
            <h1>第一篇博客</h1>
            <h6 class="text-muted">
                文章发表于 2018-09-10 12:23, 共有 1500 次浏览, 240 个评论
            </h6>
            <p>
                这个是我的第一篇博客哟，欢迎大家给予意见和建议。
            </p>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>
